<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<beans id = "dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name = "driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name = "url"  value="jdbc:mysql://10.148.84.110:3306/st"/>
		<property name = "username" value = "root"/>
		<property name="password" value="root" />
	</beans>
</beans>